*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2;
}
header{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logout{
    border: none;
    padding: 5px 15px;
    background-color: darkred;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
.logout:hover{
    opacity: 0.7;
}

#chat{
    padding: 30px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 2px solid #ccc;
    margin: auto;
    max-height: 100vh;
    min-height: 100vh;
    overflow: auto;
}
#chat li{
    display: flex;
    gap: 10px;
}
li img{
    width: 30px;
    height: 30px;
    border-radius: 100px;
}
.my_message{
    align-self: flex-end;
    width: fit-content;
}
#chat .my_message div{
    margin-bottom: 20px;
    align-self: flex-end;
    width: fit-content;
    background: linear-gradient(45deg, rgb(255, 40, 76), rgb(51, 44, 255));
    color: #fff;
    padding: 3px 10px;
    border-radius:20px 5px 20px 20px ;/*top right bottom left*/
}

#chat .friend_message div{
    margin-bottom: 20px;
    align-self: flex-start;
    width: fit-content;
    background:#7b7a7aa8;
    color: #1a1919;
    padding: 3px 10px;
    border-radius:5px 20px 20px 20px;/*top right bottom left*/
}
.message{
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    display: flex;
    gap: 10px;
    z-index: 10;
    border: 1px solid #e5e5e5;
    border-radius: 100px;
    overflow: hidden;
    padding: 5px;
    background-color: rgba(199, 199, 199, 0.564);
}
.message input{
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    background-color: transparent;
}
.message button{
    width: 100px;
    border-radius: 100px;
    border: none;
    background-color: green;
    color: #fff;
}


@media (max-width:576px){
    #chat{
        width: 100%;
    }
    header{
        display: none;
    }
    .message{
        width: 100%;
    }
}

